
.Rproj.user/shared/notebooks/paths
.Rproj.user/9C354ADD/sources/prop/F4F71146
.Rproj.user/9C354ADD/sources/prop/INDEX
.Rproj.user/9C354ADD/sources/s-A30B46E4/BBBB1192
.Rproj.user/9C354ADD/sources/s-A30B46E4/BBBB1192-contents
.Rproj.user/9C354ADD/sources/s-A30B46E4/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
